
.btn{
     background-color: #0d6efd;
     color: white;
     border: 0px;
     padding: 10px;
     margin: 20px 0px 0px 20px;
}
.name{
     width: 50%;
     height: 30px;
}
.add{
     font-size: 30px;
     color: black;
}